/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.g-container {
  padding: 1.5rem 2rem;
}

.g-form-input {
  background-color: #f1f5f9;
  border: none;
  padding: 12px 16px;

  &:focus-visible {
    outline: none;
  }
}
